.carousel {
  vertical-align: baseline;
  margin-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel-item {
  height: 500px;
  width: 250px;
  display: inline-block;
  margin: 0 23px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #fff, -2px -2px 3px #fff;

  .item-image {
    height: 150px;
    width: 230px;
    margin: 5px 10px 15px 10px;

    word-wrap: break-word;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #201111;
  }

  .item-name {
    width: 250px;
    min-height: 50px;
    position: absolute;
    word-break: break-all;
    top: 50px;
    z-index: 1;

    font-family: Verdana;
    font-size: 0.8em;
    //text-align: justify;
    background-color: rgba(119, 18, 19, 0.55);
    color: #fff;
  }

  .item-author {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    i {
      flex: 1;
      margin: 0 20px 0 15px;
    }

    p {
      flex: 5;
      margin-bottom: 0;
      font-family: Verdana;
      font-size: 0.8em;
      text-align: center;
      word-wrap: break-word;
      overflow: auto;
    }
  }

  .item-upload-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    i {
      flex: 1;
      margin: 0 15px;
    }

    p {
      flex: 5;
      margin-bottom: 0;
      font-family: Verdana;
      font-size: 0.8em;
      text-align: center;
      word-wrap: break-word;
      overflow: auto;
    }
  }

  .item-count-view {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    i {
      flex: 1;
      margin: 0 15px;
    }

    p {
      flex: 5;
      margin-bottom: 5px;
      font-family: Verdana;
      font-size: 0.8em;
      text-align: center;
      word-wrap: break-word;
      overflow: auto;
    }
  }

  .item-description {
    width: 250px;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Verdana;
    font-size: 0.8em;
    text-align: justify;
    overflow: auto;
  }
}

