
.header {
  height: 400px;
  width: 1000px;
  margin: 10px 100px 50px 100px;
  background: url('../../images/youtube-stream-ripping-site-shutting-down_995t%20(2).jpg') no-repeat;
  background-size: cover;
}