@import "_variables.scss";

.search-container {
  background-color: $content-background;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 25px 0;
}

.search-input {
  flex: 10;
  font-family: Verdana;
  border: 1px solid #0f0e0e;
  background: radial-gradient(ellipse, #111, #080808);
  padding: 5px;
  border-radius: 10px;
  outline: none;
  color: rgb(255, 255, 255);
  margin-right: 5px;
  box-shadow: 2px 2px 3px #0f0e0e;
  font-size: 20px;
}

.searchTerm:focus{
  color: #ffffff;
}

.searchButton {
  flex: 1;
  border: 1px solid #0f0e0e;
  background: #771213;
  background: radial-gradient(circle, #771213, #140306);
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 2px 2px 3px #0f0e0e;
}
