@import "_base.scss";
@import "_header.scss";
@import "_variables.scss";
@import "_search.scss";

.content {
  width: 1200px;
  margin: 20px auto;

  background-color: $content-background;
  box-shadow: 3px 3px 5px #111;
}